.tooltip-date {
  margin-bottom: 0.2em;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.4em;
}

.listening-rect {
  fill: transparent;
}

.highlight-rect {
  fill: url(#HighlighGradient);
}
  
.dotted {
  stroke: #5c5c5c;
  stroke-dasharray: 1 1;
  fill: none;
}
  